    body{
      font-size: 18px;
      line-height: 1.3em;
      font-family: 'Montserrat', Arial, sans-serif;
      color: #000;
      background-color: #fff;
      margin: 0 auto;
    }

    /*CSS style for wrapper*/
    #wrapper{
      width: 960px;
      top: 0;
      margin: 0 auto; 
      background-color: #fff;
      position: relative;
    }

    /*CSS style for header */
    header{
      background-color: #fff;
      width: 100%;
      position: relative;
     
    }
    /*CSS style for main logo */
    div #main_logo{
      width: 373px;
      height: 83px;
      margin-left:  5px;
      top: 10px;
      background-image: url(../images/new_logo1.png);
      background-repeat: no-repeat;
      position: absolute;
      z-index: 10000;  
    }
    /*CSS style for facebook logo */
    div #facebook{
      background-image: url(../images/fb_icon.svg);
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 20px;
      margin-top: 15px;
    }
    div #instagram{  /*CSS style for facebook logo */
      background-image: url(../images/insta_icon.svg);
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 70px;
      margin-top: 15px;
    }
    /*CSS style for address in  a header area */
    
    div #header{
      width: 100%;
      height:150px;
      border-radius: 15px;
      background: linear-gradient(135deg, #f0b7a1 0%,#8c3310 49%,#8c3310 49%,#bf6e4e 99%,#8c3310 100%,#752201 100%); 
      box-shadow: 0 2px 1px rgba(0,0,0,0.75);
      background-color: #a95b0d;
      position: relative;
    }
    .flash.success {
      background: #dff0d8;
      color: #009900;
      border: 1px solid #009900;
      border-radius: 15px;
      text-align: center;
      line-height: 50px;
      font-size: 16px;
      margin-top: 5px;
    }

    .flash.error {
      background: #ffeeee;
      color: #990000;
      border: 1px solid #990000;
      border-radius: 15px;
      text-align: center;
      line-height: 50px;
      font-size: 16px;
      margin-top: 5px;
    }
    div #profile{
      margin-left: 55px;
      width: 150px;
      height: 150px;
      background-image: url(../images/user.jpg);
      background-repeat: no-repeat;
    }
    div#admin_info ul#admin_info{
      left: 300px;
    }
    div#nav_admin nav{
        width: 140px;
        height: 235px;
        float: left;
        background-color: #000;
        text-align: left;
        margin-top: 25px;
        color: #fff;
        margin-bottom: 15px;
      }
      /* CSS for unordered list in Navigation menu*/
    div#nav_admin nav ul{
        margin: 0px;
        padding-left: 1px;
        left: 5px;
      }
      /* CSS for styling and displaying navigation menu */
    div#nav_admin nav ul li{
        display: inline-block;
        list-style-type: none;
      }
      /* Styling a hyperlink, which is used to link from one page to another using CSS*/
    div#nav_admin nav ul li a{
        padding: 5px 0px 10px 5px;
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }
 
    
    #admin_dashboard_page div#nav_admin nav ul li a.page11,
    #admin_page div#nav_admin nav ul li a.page12,
    #admin_products_page div#nav_admin nav ul li a.page13,
    #admin_customers_page div#nav_admin nav ul li a.page14,
    #admin_orders_page div#nav_admin nav ul li a.page15{
      background-color: #f00;
      padding: 10px;
      margin-left: 5px;
      border-radius: 10px;
    }
    
    #admin_results{
      left: 100px;
    }
    header nav{
      width: 100%;
      min-height: auto;
      text-align: center;
      position: absolute;
      top: 78px;
    }
    header nav ul{
      margin: 0;
      position: absolute;
      right: 12px; 
    }
    header nav ul li{
      display: inline-block;
      list-style-type: none;
      float: left;
      padding-top: 8px;
      padding-right: 3px;
    }
    header nav ul li a{
      font-size: 24px;
      padding: 15px 18px 15px 20px;
      border-radius: 20px;
      display: block;
      text-decoration: none;
      color: #fff;
      text-shadow: 0 2px 3px rgba(0,0,0,0.8);
      opacity: 1;
      font-size: 18px;
      transition: all ease-in-out .2s;
    } 
    /*CSS style for navigation buttoms when mouse over */
    header nav ul li a:hover{
      background-color: #fc0;
      opacity: 0.65;
      text-decoration: underline;
      text-shadow: none;
    }

    body#index_page div#wrapper header nav ul#navlist li a.page1,
    body#about_page div#wrapper header nav ul#navlist li a.page2,
    body#menu_page div#wrapper header nav ul#navlist li a.page3,
    body#shop_page div#wrapper header nav ul#navlist li a.page4,
    body#login_page div#wrapper header nav ul#navlist li a.page5,
    body#register_page div#wrapper header nav ul#navlist li a.page6, 
    body#profile_page div#wrapper header nav ul#navlist li a.page7,
    body#admin_page div#wrapper header nav ul#navlist li a.page9,
    body#payment div#wrapper header nav ul#navlist li a.page8{
      background-color: #c60;
    }

    body#admin_profile div#wrapper header nav ul#navlist li a.page10{
      background-color: #000;
    }

    div#letters{
      top: 100px;
      width: 150px;
      height: 0px;
      color: #f00;
      text-shadow: 1px 3px 5px rgba(0,0,0,0.7);
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      font-size: 28px;
      position: relative;
      -webkit-animation: mymove 9s infinite; /* Safari 4.0 - 8.0 */
      animation: mymove 9s infinite;
    }

    /* Safari 4.0 - 8.0 */
    
    .1 .2 .3 .4 {-webkit-animation-timing-function: ease-in;}
    

    /* Standard syntax */
    .1 .2 .3 .4{animation-timing-function: ease-in;}

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes mymove {
      from {left: 0px;}
      to {left: 700px;}
    }

    /* Standard syntax */
    @keyframes mymove {
      from {left: 0px;}
      to {left: 700px;}
    }

    #cart{
      width: 150px;
    }
    /* CSS style for main content */
    main{
      font-size: 18px;
      display: block;
      background-color: #fff;
      line-height: 1.6em;
      min-height: 1100px;
      text-align: left; 
      z-index: 10;
      margin: 0 auto;
      position: relative;
    }
    main p{
      margin-left: 5px;
    }

    h1{
      text-align: left;
      font-size: 22px;
      font-weight: 700;
      margin-top: 17px;
    }
    h1.admin{
      background-color: #000;
      color: #fff;
      padding: 15px;
    }
    h2{
      font-size: 20px;
      font-style: italic;
      font-weight: 700;
      margin-left: 5px;
    }  
    div#home_page{
      margin-left: 5px;
    }
    iframe{  /*CSS style for google maps link */
      border-radius: 15px;
      margin-bottom: 2px;
      width: 400px;
      height: 300px;
      position: absolute;
      margin-top: 5px;
      right: 3px;
    }

    /* CSS for footer area */
    footer{
      min-height: 120px;
      background-color: #a95b0d;
      background: linear-gradient(135deg, #f0b7a1 0%,#8c3310 49%,#8c3310 49%,#bf6e4e 99%,#8c3310 100%,#752201 100%); 
      border-radius: 15px;
      position: relative;
      margin-top: 15px;
    }
    /* CSS for company address in footer area */
    footer div#address address{
      position: absolute;
      text-align: right;
      font-style: italic;
      font-size: 14px;
      right: 25px;
      top: 10px;
      line-height: 1em;
      text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
      z-index: 10;
    }
    /* CSS for styling logo in footer area */
    footer div#main_logo_footer{
      background-image: url(../images/new_logo1.png);
      background-repeat: no-repeat;
      position: absolute;
      width: 373px;
      height: 83px;
      padding: 10px; 
    }

    /* CSS for styling copyright info */
    footer p.copy{
      font-size: 14px;
      text-align: center;
      padding-top: 100px;
      line-height: 1em;
    }
  /* ----- Css for Home Page ends ----- */

  /* ----- Css for About Page starts ----- */
    #hello_img img{  /*CSS style for images on about page */
      background-image: url(../images/hello_couple.jpg);
      background-repeat: no-repeat;
      width: 100%;
      height: auto;
      opacity: 0.85;
      border-radius: 15px;
    }
    #machine img{
      background-image: url(../images/mashine.jpg);
      background-repeat: no-repeat;
      width: 100%;
      height: auto;
      opacity: 0.85;
      border-radius: 15px;
    }
    #example1 img{
      background-image: url(../images/coffee_heart.jpg);
      background-repeat: no-repeat;
      width: 100%;
      height: auto;
      opacity: 0.85;
      border-radius: 15px;
    }
    a.go_top{
      color: #f60;
      background-color: transparent;
      text-decoration: underline;  
      padding-left: 5px;
    }

    a.go_top:hover{
      color: #f06;
      background-color: transparent;    
    }
    /* ----- Css for About Page ends ----- */

    /* ----- Css for Coffee Beans Page starts ----- */

    
    div #free{  /*CSS style for box with information about free shipment */
      float: right;
      width: 180px;
      height: 60px;
      right: 3px;
      padding: 3px;
      padding-right: 0;
      background-color: #fff;
      color: #f00;
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      box-shadow: 0px 7px 10px rgba(50,0,0,0.75);
      border-radius: 15px;
    }
    div #free:hover{
      background-color: #f93;
    }
    
    /* ----- Css for Coffee Beans Page ends ----- */

    /* ----- Css for Contact Page starts ----- */
    form{  /*CSS style for form */
      width: 100%;
    }
    legend{
     background-color: #fc9;
     color: #000;
     padding: 7px;
     border-radius: 10px;
    }
    label{
      width: 190px;
      display: block;
      float: left;
      }
    form p{
      clear: both;
    }
    input+label{
      float: none;
      display: inline;
      width: auto;
    }
    /*CSS style for inputs in text, email, tel, date, submit, reset lines */
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="month"],
    input[type="password"],
    input[type="submit"],
    input[type="reset"]{
      width: 250px;
      background-color: #fc9;
      border: 1px solid #fc9;
      border-radius: 10px;
      padding-left: 22px;
      font-size: 20px;
      padding-top: 4px;
      padding-bottom: 5px;
      font-style: italic;
      opacity: 0.6;
    }
    button{
      width: 75px;
      padding-left: 10px;
      font-size: 18px;
      padding-top: 2px;
      padding-bottom: 2px;
      border-radius: 10px;
      background-color: #fc9;
    }
    select#gender{
      background-color: #fc9;
      font-size: 20px;
      opacity: 0.6;
    }
    fieldset{
      border: 2px solid #fc9;
      padding: 15px;
      border-radius: 15px;
      margin-top: 10px;
      width: 96%;
      margin-bottom: 7px;
    }
    textarea#comments{  /*CSS style for textarea with comments */
      display: inline;
      background-color: #fff;
      font-family: 'PT Sans', Arial, sans-serif;
      box-shadow: 5px 10px 20px #fc9 inset;
      border-radius: 10px;
      border: 1px solid #fc9;
      padding: 10px;
    }
    .slogan {  /*CSS style for slogan image on Contact page */
      float: right;
      width: 35%;
      padding: 1px;
    }
    .slogan img{
      border-radius: 15px;
      margin-top: 10px;
      margin-right: 20px;
    }
    .slogan img:hover{
      transform: scale(1.2);
    }
    
    /* ----- Css for Contact Page ends ----- */


    /* ----- Css for Menu Page starts ----- */

    .column {  /*CSS style for images in bottom of the Menu page*/
      float: left;
      width: 33.0%;
      padding: 1px;

    }
    .column img{
        border-radius: 15px;
        margin-top: 15px;
    }
    .column img:hover{
      transform: scale(1.3);
    }
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    h2 #menu{
      text-align: center;
    }
    div #content{
      column-count: 2;
      column-gap: 50px;
      padding-left: 5px;
      margin-top: 5px;
    }

    p.cursive{
      font-style: italic;
      font-size: 14px;
    }

    /* ----- Css for Menu Page ends ----- */

   table{  /*CSS style for table */
      border-spacing: 0px;
      /*border: 1px solid #fc9;*/
      border-collapse: collapse;
      color: #000;
      width: 80%;
      height: auto;
      border-radius: 15px;
      display: inline-block;
      margin: 15px 2px 5px 2px;
    }
    caption{  /*CSS style for caption in tables */
      color: #000;
      text-align: left;
      font-weight: 700;
      font-size: 20px;
      padding: 15px;
      margin-bottom: 5px;
    }
    td,th{
      border: 1px solid #fb6; 
      padding: 15px;
    }
    th{ 
      color: #000;
      background-color: #fc9;
      text-align: center;
    }
    tr{
      padding: 15px;
    }
    th img{
      background-color: #fff;
    }
    td{
      text-align: left;
      padding: 15px;
    }
    h2 p{
      padding: 5px;
    }   